/***************Basic styles***************/

/******************Fonts*******************/
@font-face {
	font-family: 'Gotham Book Regular';
	src: url(../fonts/Gotham Book Regular.otf);
}
@font-face {
	font-family: Lato-Bold;
	src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Light;
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-Italic;
	src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
	font-family: OpenSans-SemiBold;
	src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}
/******************Header******************/
header {
	background-color: #111111;
	padding-bottom: 350px;
}
.logotype{
	font-family: Lato-Bold;
	color: #fff;
	text-transform: uppercase;
}
.main_navbar a {
	display: inline-block;
}
header nav {
	margin-top: 25px;
	
}
header nav ul li {
	color: #fff;
	font-family: Lato-Bold;
	text-transform: uppercase;
	margin-left: 15px;
	font-size: 14px;
}
header nav ul a:hover {
	text-decoration: none;
}
header nav ul a:focus {
	text-decoration: none;
}
header h2 {
	text-transform: uppercase;
	color: #999999;
	font-family: OpenSans-Light;
	font-size: 38px;
	margin-top: 150px;
}
header h2 span {
	color: #fcac45;
	font-family: OpenSans-Bold;
	
}
header p {
	color: #fff;
	font-family: OpenSans-Regular;
}
header p span {
	font-family: OpenSans-Bold;
}

/******************About*******************/
#about {
	padding-top: 100px;
	padding-bottom: 69px;
}
#about h2 {
	color: #636363;
	font-family: OpenSans-Regular;
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 0;
}
#about h3 {
	color: #222222;
	font-family: OpenSans-Regular;
	text-transform: uppercase;
	font-size: 34px;
	margin-top: 10px;
	padding-bottom: 16px;
	background: url(../images/line.png) no-repeat 0 48px;
	margin-bottom: 25px;
}
#about h3 span {
	font-family: OpenSans-Bold;
}
#about p {
	color: #6c6c6c;
	font-family: OpenSans-Regular;
	padding-top: 4px;
	padding-bottom: 16px;
	font-size: 17px;
}
#about ul {
	padding-left: 0;
	margin-bottom: 25px;
	margin-top: 25px;
}
#about ul li {
	list-style-type: none;
	background: url(../images/marker.png) 0 3px no-repeat;
	padding-left: 20px;
	font-size: 16px;
	font-family: OpenSans-Italic;
	color: #5a5a5a;
	padding-bottom: 17px;
}
#about ul li strong {
	font-family: OpenSans-SemiBold;
}
#about button{
	text-transform: uppercase;
	font-family: OpenSans-SemiBold;
	font-size: 12px;
	color: #616161;
	border: 1px solid #7f7f7f;
	border-radius: 2px;
	background-color: #fff;
	padding: 13px 30px 13px 40px;
	background: url(../images/briefcase.png) no-repeat 17px 15px;
}
#about img {
	margin-top: 5px;
}
/******************Team********************/
#team {
	background-color: #070707;
	padding-bottom: 112px;
}
#team h2 {
	text-transform: uppercase;
	font-family: OpenSans-Light;
	color: #fff;
	font-size: 38px;
	padding-top: 65px;
	padding-bottom: 110px;
	background: url(../images/twolines.png) no-repeat 530px 125px;
}
#team h2 span {
	font-family: OpenSans-SemiBold;
}
#team h3 {
	font-family: OpenSans-Regular;
	font-size: 13px;
	color: #fff;
}
#team p {
	font-family: OpenSans-Regular;
	font-size: 11px;
	color: #fff;
	padding-top: 15px;
}
#team h3 strong {
	font-family: OpenSans-Bold;
	color: #fff;
	font-size: 16px;
}
/*****************Services*****************/
#services {
	padding-top: 60px;
	padding-bottom: 100px;
}
#services h2 {
	font-family: OpenSans-Light;
	text-transform: uppercase;
	color: #222;
	font-size: 38px;
	background: url(../images/twolines.png) no-repeat 530px 70px;
	padding-bottom: 70px;
}
#services h2 span {
	font-family: OpenSans-SemiBold;
}
#services .our_services_p {
	font-size: 13px;
	color: #6c6c6c;
	font-family: OpenSans-Italic;
	padding-bottom: 70px;
}
#services h3 {
	text-transform: uppercase;
	font-family: OpenSans-SemiBold;
	font-size: 20px;
	color: #222;
}
#services p {
	color: #222;
	font-size: 11px;
	font-family: OpenSans-Italic;
}
/*****************Clients******************/
#clients {
	background-color: #0b0b0b;
	padding-bottom: 155px;
	padding-top: 50px;
}
#clients h2 {
	font-family: OpenSans-Light;
	text-transform: uppercase;
	color: #fff;
	font-size: 38px;
	background: url(../images/twolines.png) no-repeat 530px 70px;
	padding-bottom: 130px;
}
#clients h2 span {
	font-family: OpenSans-SemiBold;
}
#clients img {
	padding-right: 25px;
}
#clients img:last-child {
	padding-top: 3px;
	padding-right: 0px;
}
/****************Portfolio*****************/
#portfolio {
	padding-top: 60px;
	padding-bottom: 100px;
}
#portfolio h2 {
	font-family: OpenSans-Light;
	text-transform: uppercase;
	color: #222;
	font-size: 38px;
	background: url(../images/twolines.png) no-repeat 530px 70px;
	padding-bottom: 75px;
}
#portfolio h2 span {
	font-family: OpenSans-SemiBold;
}
#portfolio .our_work_p {
	font-size: 13px;
	color: #6c6c6c;
	font-family: OpenSans-Italic;
	padding-bottom: 80px;
}
#portfolio strong {
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 5px;
}
#portfolio .filters {
	font-size: 16px;
	font-family: OpenSans-Regular;
	color: #6c6c6c;
	padding-right: 5px;
	padding-bottom: 30px;
}
#portfolio .filters span {
	color: #222;
	font-family: OpenSans-SemiBold;;
}
#portfolio img {
	padding-bottom: 30px;
}
/***************Testimonials***************/
#testimonials {
	background-color: #0b0b0b;
	padding-top: 60px;
	padding-bottom: 100px;
}
#testimonials h2 {
	font-family: OpenSans-Light;
	text-transform: uppercase;
	color: #fff;
	font-size: 38px;
	background: url(../images/twolines.png) no-repeat 530px 70px;
	padding-bottom: 130px;
}
#testimonials h2 span {
	font-family: OpenSans-SemiBold;
}
#testimonials p {
	text-transform: uppercase;
	color: #e7e7e7;
	font-family: OpenSans-SemiBold;
	font-size: 14px;
}
#testimonials p strong {
	color: #b2b2b2;
	text-transform: none;
}
#testimonials p span {
	font-family: OpenSans-Light;
	text-transform: none;
	color: #b2b2b2;
}
/*****************Contact******************/
#contact {
	padding-top: 60px;
	padding-bottom: 100px;
}
#contact h2 {
	font-family: OpenSans-Light;
	text-transform: uppercase;
	color: #222;
	font-size: 38px;
	background: url(../images/twolines.png) no-repeat 530px 70px;
	padding-bottom: 70px;
}
#contact h2 span {
	font-family: OpenSans-SemiBold;
}
#contact p {
	font-size: 15px;
	color: #6c6c6c;
	font-family: OpenSans-Italic;
	padding-bottom: 90px;
}
#contact label {
	font-size: 12px;
	font-family: OpenSans-Regular;
	color: #636363;
}
#contact label span {
	color: #db0000;
}
#contact input {
	border: 1px solid #999;
	height: 40px;
	border-radius: 1px;
}
#contact textarea {
	border: 1px solid #999;
	border-radius: 1px;
	resize: none;
}
#contact button {
	text-transform: uppercase;
	color: #fff;
	font-family: OpenSans-SemiBold;
	font-size: 14px;
	background-color: #fcac45;
	padding: 9px 60px;
	border: none;
	margin-top: 24px;
	margin-left: 14px;
}
/******************Footer******************/
footer {
	padding-top: 27px;
	padding-bottom: 27px;
	background-color: #222;
}
footer p {
	font-size: 10px;
	text-transform: uppercase;
	color: #b2b2b2;
	font-family: OpenSans-Regular;
}
footer p strong {
	font-family: OpenSans-Bold;
}
footer .col-md-4 {
	padding-top: 6px;
}